.list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: #444444;
    min-width: 250px;
    padding: 1em;
    margin: 0 1em;
}
