.add-card-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}


.add-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background: transparent;
}

.add-card-title-container{
    width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.add-card-header-title{
    font-size: clamp(1rem, 4vw, 2rem);
}

.add-card-exit-button-container{
    width: 20%;
    display: flex;
    justify-content: end;
    padding: 1%;
}

.add-card-exit-button {
    max-width: 100px;
    width: 10vw;
    height: 100%;
    border-radius: 1em;
}

.add-card-content{
    height: 80%;
    background: transparent;
    display: flex;
    flex-direction: column;
}

.content-title-section{
    height: 30%;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-title-input {
    width: 100%;
    height: 3em;
    padding: 0 1em;
    background-color: #aaaaaa;
    border: none;
    border-radius: 2em;
}

.content-body-section {
    height: 70%;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-body-input {
    height: 80%;
    padding: 2em;
    background-color: #aaaaaa;
    border: none;
    border-radius: 2em;
    overflow-y: auto;
    text-align: left;
    vertical-align: top;
    resize: none;
    font-family: inherit;
}


.add-card-footer{
    height: 10%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: end;
    align-items: start;
}

.add-card-save-button{
    max-width: 200px;
    width: 20%;
    max-height: 100px;
    height: 100%;
}

.modal-container {
    position: fixed;
    top: 25%;
    left: 25%;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background-color: #444444;
    padding: 1em;
    border-radius: 1em;
    min-width: 200px;
}